@media (max-width: 768px) {
  h2 {
    font-size: 35px;
  }

  .page-signin {
    position:static;
    width: 100%;
    transform:none;
  }

  .side-wrapper {
    padding: 0px 20px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0px;
  }

  .page-wrapper.with-side {
    display: block;
  }

  .contents-wrapper {
    display: block;
  }

  .side-wrapper {
    display: block;
    width: auto;

    .side-content {
      position: static;
      transform:none;
    }
  }
}